name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  PKG_CONFIG_PATH: /usr/lib/arm-linux-gnueabihf/pkgconfig
  PKG_CONFIG_ALLOW_CROSS: 1

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: install deps
      run: sudo apt update -y && sudo apt install binutils-arm-linux-gnueabihf gcc-arm-linux-gnueabihf pkg-config-arm-linux-gnueabihf -y
    - name: Install target
      run: rustup target install armv7-unknown-linux-gnueabihf
    - name: Build artifact
      run: cargo build --target armv7-unknown-linux-gnueabihf --release
    - name: Upload Build
      uses: actions/upload-artifact@v2
      with:
        name: passport-rpi
        path: |
          target\armv7-unknown-linux-gnueabihf\passport_rpi
        retention-days: 1
